openX intern tasks/.DS_Store
openX intern tasks/MLOps - intern - interview tasks - 2024.pdf
openX intern tasks/model/.DS_Store
openX intern tasks/model/fingerprint.pb
openX intern tasks/model/saved_model.pb
openX intern tasks/model/variables/variables.data-00000-of-00001
openX intern tasks/model/variables/variables.index
